In [1]:
import pandas as pd

In [2]:
customer_interactions = pd.read_csv('customer_interactions.csv')
purchase_history = pd.read_csv('purchase_history.csv')
product_details = pd.read_csv('product_details.csv')

In [3]:
customer_interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87229 entries, 0 to 87228
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       87229 non-null  int64
 1   page_views    87229 non-null  int64
 2   session_time  87229 non-null  float64
 3   session_id    87229 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.7+ MB

In [4]:
purchase_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276761 entries, 0 to 276760
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        276761 non-null  int64
 1   product_id     276761 non-null  int64
 2   session_id     276761 non-null  object
 3   purchase_date  276761 non-null  object
 4   purchased      276761 non-null  int64
dtypes: int64(3), object(2)
memory usage: 10.6+ MB

In [5]:
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52230 entries, 0 to 52229
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   52230 non-null  int64
 1   category_id  52230 non-null  int64
 2   price        52230 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.2 MB

In [6]:
purchase_history.purchased.value_counts()

purchased
0    269535
1      7226
Name: count, dtype: int64

# Data Preparation

### Feature Engineering

In [58]:
data = purchase_history.merge(customer_interactions)
data = data.merge(product_details)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

In [59]:
data['user_id'] = data['user_id'].astype(int)
data['product_id'] = data['product_id'].astype(int)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

In [60]:
import numpy as np
import tensorflow as tf
# import tensorflow_datasets as tfds

import tensorflow_recommenders as tfrs

In [61]:
n_products = data.product_id.nunique()
n_users = data.user_id.nunique()

unique_products = list(data.product_id.unique())
unique_users = list(data.user_id.unique())

print('num of users:', n_users)
print('num of products:', n_products)

num of users: 10000
num of products: 52229

In [62]:
type(unique_products[0])

numpy.int32

In [63]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)

In [64]:
print(train.shape)
print(test.shape)

(221408, 9)
(55352, 9)

In [65]:
train.head()

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
217028,515810827,23000034,4bda7ab6-9dd7-4a1e-b7e1-e36de2d041ea,2019-10-13 14:43:00+00:00,0,7,323.0,2053013553459233053,6.690000
59321,516092277,1005156,3c49a3aa-b650-46b9-9d69-07c92991d3d0,2019-10-18 14:59:29+00:00,0,22,804.0,2053013555631882655,325.455394
156833,515016969,11100221,688bd22a-1539-4fd9-8af4-6a03c3e2a786,2019-10-06 20:19:31+00:00,0,20,698.0,2053013555036291451,20.035000
77944,539456237,1701406,e496de7d-7fa3-4d85-bcbe-97f2d2916451,2019-10-17 16:54:06+00:00,0,11,460.0,2053013553031414015,281.271429
244984,518518709,28712565,a3badfa4-2d35-435b-84db-217944961c69,2019-10-24 16:55:44+00:00,0,8,341.0,2053013565782098913,102.710000

In [66]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221408 entries, 217028 to 177286
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        221408 non-null  int32
 1   product_id     221408 non-null  int32
 2   session_id     221408 non-null  object
 3   purchase_date  221408 non-null  object
 4   purchased      221408 non-null  int64
 5   page_views     221408 non-null  int64
 6   session_time   221408 non-null  float64
 7   category_id    221408 non-null  int64
 8   price          221408 non-null  float64
dtypes: float64(2), int32(2), int64(3), object(2)
memory usage: 15.2+ MB

### WandB Setup

In [67]:
# !pip install wandb

In [68]:
!wandb login

wandb: Currently logged in as: manfredmichael (nodeflux-internship). Use `wandb login --relogin` to force relogin

### Model Building

In [69]:
import wandb
import random
from wandb.keras import WandbMetricsLogger, WandbModelCheckpoint

from tensorflow.keras.optimizers import Adam

wandb.init(
    # set the wandb project where this run will be logged
    project="skilvul-tech-assessment",

    # track hyperparameters and run metadata with wandb.config
    config={
        "desc": "with session context",
        "embedding": 8,
        "dropout": 0.1,
        "num_of_deep_layers": 4,
    }
)

config = wandb.config

In [70]:
from tensorflow.keras.models import Model, Sequential 
from tensorflow.keras.layers import Input, Embedding, Dot, Flatten, Dense, concatenate, Dropout
from tensorflow.keras.activations import sigmoid

EMBEDDING_DIM = config.embedding

# WIDE MODEL
wide_model = Sequential([Dense(EMBEDDING_DIM * 3, use_bias='false'),
                         Dropout(config.dropout)])

# DEEP MODEL
deep_layers = []
for i in range(config.num_of_deep_layers):
    deep_layers += [Dense(EMBEDDING_DIM, activation='relu', use_bias='false'), Dropout(config.dropout)]
              
deep_model = Sequential(deep_layers)

# input layers
product_input = Input(shape=[1], name='product_id')
user_input = Input(shape=[1], name='user_id')

page_views_input = Input(shape=[1], name='page_views')
session_time_input = Input(shape=[1], name='session_time')

price_input = Input(shape=[1], name='price')

session_context = concatenate([price_input, page_views_input, session_time_input])
session_context = tf.keras.layers.BatchNormalization()(session_context)

product_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_products, num_oov_indices=1, mask_token=None)(product_input)
user_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_users, num_oov_indices=1, mask_token=None)(user_input)

# # Convert strings to integers
# product_input_int = product_lookup(product_input)
# user_input_int = user_lookup(user_input)

# embedding layers 
product_embedding = Embedding(n_products+1, EMBEDDING_DIM)(product_input_int)
user_embedding = Embedding(n_users+1, EMBEDDING_DIM)(user_input_int)

# flatten the embeddings
product_flat = Flatten()(product_embedding)
user_flat = Flatten()(user_embedding)

# wide and deep model
concat = concatenate([product_flat, user_flat])
wide_output = wide_model(concat)
deep_output = deep_model(concat)

# output layer
concat_2 = concatenate([wide_output, deep_output, session_context])
output = Dense(1, activation='sigmoid', use_bias='false')(concat_2)
#output = sigmoid(Dot(1)([wide_output, deep_output]))

# the model
model = Model([product_input, user_input, page_views_input, session_time_input, price_input], [output])

In [71]:
model.summary()

Model: "model_4"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 product_id (InputLayer)     [(None, 1)]                  0         []

 user_id (InputLayer)        [(None, 1)]                  0         []

 integer_lookup_8 (IntegerL  (None, 1)                    0         ['product_id[0][0]']
 ookup)

 integer_lookup_9 (IntegerL  (None, 1)                    0         ['user_id[0][0]']
 ookup)

 embedding_8 (Embedding)     (None, 1, 8)                 417840    ['integer_lookup_8[0][0]']

 embedding_9 (Embedding)     (None, 1, 8)                 80008     ['integer_lookup_9[0][0]']

 flatten_8 (Flatten)         (None, 8)                    0         ['embedding_8[0][0]']

 flatten_9 (Flatten)         (None, 8)                    0         ['embedding_9[0][0]']

 price (InputLayer)          [(None, 1)]                  0         []

 page_views (InputLayer)     [(None, 1)]                  0         []

 session_time (InputLayer)   [(None, 1)]                  0         []

 concatenate_10 (Concatenat  (None, 16)                   0         ['flatten_8[0][0]',
 e)                                                                  'flatten_9[0][0]']

 concatenate_9 (Concatenate  (None, 3)                    0         ['price[0][0]',
 )                                                                   'page_views[0][0]',
                                                                     'session_time[0][0]']

 sequential_8 (Sequential)   (None, 24)                   408       ['concatenate_10[0][0]']

 sequential_9 (Sequential)   (None, 8)                    352       ['concatenate_10[0][0]']

 batch_normalization_1 (Bat  (None, 3)                    12        ['concatenate_9[0][0]']
 chNormalization)

 concatenate_11 (Concatenat  (None, 35)                   0         ['sequential_8[0][0]',
 e)                                                                  'sequential_9[0][0]',
                                                                     'batch_normalization_1[0][0]'
                                                                    ]

 dense_29 (Dense)            (None, 1)                    36        ['concatenate_11[0][0]']

==================================================================================================
Total params: 498656 (1.90 MB)
Trainable params: 498650 (1.90 MB)
Non-trainable params: 6 (24.00 Byte)
__________________________________________________________________________________________________

In [72]:


model.compile(optimizer=Adam(lr=1e-2), loss='binary_crossentropy', metrics=['accuracy',  tf.keras.metrics.Precision(), tf.keras.metrics.Recall(), 
                       tf.keras.metrics.AUC()])

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

In [73]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221408 entries, 217028 to 177286
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        221408 non-null  int32
 1   product_id     221408 non-null  int32
 2   session_id     221408 non-null  object
 3   purchase_date  221408 non-null  object
 4   purchased      221408 non-null  int64
 5   page_views     221408 non-null  int64
 6   session_time   221408 non-null  float64
 7   category_id    221408 non-null  int64
 8   price          221408 non-null  float64
dtypes: float64(2), int32(2), int64(3), object(2)
memory usage: 15.2+ MB

In [74]:
train.columns
page_views_input, session_time_input, price_input

Index(['user_id', 'product_id', 'session_id', 'purchase_date', 'purchased',
       'page_views', 'session_time', 'category_id', 'price'],
      dtype='object')

In [55]:
history = model.fit(x=[train.product_id, train.user_id, train], y=train.purchased,
                    # validation_data=([test.product_id, test.user_id], test.purchased),
                    batch_size=8192,
                    epochs=1,
                    callbacks=[
                      WandbMetricsLogger(log_freq='batch'),
                      WandbModelCheckpoint("models-initial")
                    ])

 6/28 [=====>........................] - ETA: 2s - loss: 0.6947 - accuracy: 0.4614 - precision_4: 0.0232 - recall_4: 0.5016 - auc_4: 0.4744WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0241s vs `on_train_batch_end` time: 0.0808s). Check your callbacks.

WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0241s vs `on_train_batch_end` time: 0.0808s). Check your callbacks.

28/28 [==============================] - ETA: 0s - loss: 0.6427 - accuracy: 0.8550 - precision_4: 0.0230 - recall_4: 0.1096 - auc_4: 0.4821INFO:tensorflow:Assets written to: models-initial\assets

INFO:tensorflow:Assets written to: models-initial\assets
wandb: Adding directory to artifact (.\models-initial)... Done. 0.1s

28/28 [==============================] - 22s 675ms/step - loss: 0.6427 - accuracy: 0.8550 - precision_4: 0.0230 - recall_4: 0.1096 - auc_4: 0.4821

In [41]:
product_details.product_id

0         1000978
1         1001588
2         1002042
3         1002062
4         1002098
           ...
52225    60400001
52226    60400002
52227    60500001
52228    60500002
52229    60500007
Name: product_id, Length: 52230, dtype: int64

In [42]:
train

          user_id  product_id  purchased
86185   513516059     2502251          0
56846   515404062     1005130          0
229374  521171983    26400322          0
17039   541477419     1004321          0
127904  517236730     5700518          0
...           ...         ...        ...
39582   514994590     1004872          0
237911  513055643    27200898          0
193281  521129853    16300056          0
222197  543426950    26026616          0
211614  526858226    22400036          0

[221408 rows x 3 columns]

In [43]:
model((train['product_id'], train['user_id']))

<tf.Tensor: shape=(221408, 1), dtype=float32, numpy=
array([[0.429234  ],
       [0.4289977 ],
       [0.43829143],
       ...,
       [0.4374629 ],
       [0.44199833],
       [0.42670414]], dtype=float32)>

In [44]:
def get_recommendation(user_id, products=product_details, model=model):
    products = products.copy()
    user_ids = [user_id] * len(products)

    input_ = pd.DataFrame({'product_id': list(products.product_id.unique()), 'user_id': user_ids})
    results = model((input_['product_id'], input_['user_id'])).numpy().reshape(-1)
    # results = model([products, user_ids]).numpy().reshape(-1)
    
    products['purchase_proba'] = pd.Series(results, index=products.index)
    products = products.sort_values('purchase_proba', ascending=False)
    
    return products

In [45]:
train

          user_id  product_id  purchased
86185   513516059     2502251          0
56846   515404062     1005130          0
229374  521171983    26400322          0
17039   541477419     1004321          0
127904  517236730     5700518          0
...           ...         ...        ...
39582   514994590     1004872          0
237911  513055643    27200898          0
193281  521129853    16300056          0
222197  543426950    26026616          0
211614  526858226    22400036          0

[221408 rows x 3 columns]

In [46]:
get_recommendation(514080134).head(10)

       product_id          category_id   price  purchase_proba
35607    26010220  2053013562611204913    2.17        0.456800
15899    10201198  2053013553224352013   34.75        0.456493
42235    28711871  2053013565782098913   70.01        0.456174
15964    10201721  2053013553224352013   16.73        0.455262
23352    13300023  2053013557166998015  489.59        0.455251
41829    28703783  2053013565069067197   61.57        0.455153
39319    26500473  2053013563550729061  386.18        0.454661
1527      1306695  2053013558920217191  587.00        0.454618
29739    18301069  2053013558945383017   12.99        0.454603
34877    25400011  2053013561604571899   23.50        0.454537

In [47]:
get_recommendation(513457523).head(10)

       product_id          category_id   price  purchase_proba
35607    26010220  2053013562611204913    2.17        0.466507
42235    28711871  2053013565782098913   70.01        0.466010
15899    10201198  2053013553224352013   34.75        0.465975
23352    13300023  2053013557166998015  489.59        0.464944
41829    28703783  2053013565069067197   61.57        0.464755
15964    10201721  2053013553224352013   16.73        0.464593
1527      1306695  2053013558920217191  587.00        0.464422
46024    31000511  2055156924315337497  669.15        0.464366
34276    24100153  2053013563307459413    5.54        0.464316
29739    18301069  2053013558945383017   12.99        0.464113

# Save and Load Model

In [382]:
model.save_weights('model.h5')

In [383]:

model_load = Model([product_input, user_input], [output])
model_load.load_weights('model.h5')

In [384]:
get_recommendation(541312140, model=model_load).head(10)

       product_id          category_id       price  purchase_proba
4038      2601810  2053013563970159485  155.259458        0.181332
6904      4100346  2053013561218695907  392.809650        0.171076
703       1004863  2053013555631882655  173.004043        0.163775
4750      2800476  2053013563835941749  172.080000        0.157953
378       1004246  2053013555631882655  743.151695        0.151674
563       1004659  2053013555631882655  738.926172        0.143953
20240    12706258  2053013553559896355   60.230000        0.134912
700       1004856  2053013555631882655  131.142246        0.119333
381       1004249  2053013555631882655  739.568116        0.095927
24652    14700050  2053013557133443581  182.665000        0.093026

In [385]:
get_recommendation(550050854, model=model_load).head(10)

       product_id          category_id       price  purchase_proba
6904      4100346  2053013561218695907  392.809650        0.218746
4038      2601810  2053013563970159485  155.259458        0.213689
703       1004863  2053013555631882655  173.004043        0.194762
378       1004246  2053013555631882655  743.151695        0.171427
563       1004659  2053013555631882655  738.926172        0.168789
700       1004856  2053013555631882655  131.142246        0.167703
4750      2800476  2053013563835941749  172.080000        0.167442
20240    12706258  2053013553559896355   60.230000        0.160695
381       1004249  2053013555631882655  739.568116        0.126330
684       1004838  2053013555631882655  174.748446        0.120576

In [386]:
get_recommendation(0, model=model_load)

       product_id          category_id        price  purchase_proba
847       1005074  2053013555631882655  1188.910128        0.174015
916       1005144  2053013555631882655  1720.407530        0.170057
22811    13103656  2053013553526341921   270.280000        0.164640
41300    28300432  2053013566243472379    46.330000        0.131460
19296    12700716  2053013553559896355    40.930000        0.122681
...           ...                  ...          ...             ...
787       1004990  2053013555631882655   253.171459        0.001422
8883      5100551  2053013553341792533   166.080331        0.001417
12705     7005394  2053013560346280633   163.883901        0.001398
757       1004946  2053013555631882655   738.895365        0.001359
842       1005069  2053013555631882655   301.907003        0.001194

[52230 rows x 4 columns]