In [1]:
import pandas as pd

In [2]:
customer_interactions = pd.read_csv('customer_interactions.csv')
purchase_history = pd.read_csv('purchase_history.csv')
product_details = pd.read_csv('product_details.csv')

In [3]:
customer_interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87229 entries, 0 to 87228
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       87229 non-null  int64
 1   page_views    87229 non-null  int64
 2   session_time  87229 non-null  float64
 3   session_id    87229 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.7+ MB

In [1]:
purchase_history.info()

NameError: name 'purchase_history' is not defined

In [5]:
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52230 entries, 0 to 52229
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   52230 non-null  int64
 1   category_id  52230 non-null  int64
 2   price        52230 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.2 MB

In [6]:
purchase_history.purchased.value_counts()

purchased
0    269535
1      7226
Name: count, dtype: int64

# Data Preparation

### Feature Engineering

In [58]:
data = purchase_history.merge(customer_interactions)
data = data.merge(product_details)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

In [59]:
data['user_id'] = data['user_id'].astype(int)
data['product_id'] = data['product_id'].astype(int)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

In [60]:
import numpy as np
import tensorflow as tf
# import tensorflow_datasets as tfds

import tensorflow_recommenders as tfrs

In [78]:
n_products = data.product_id.nunique()
n_users = data.user_id.nunique()
n_category =  data.category_id.nunique()

unique_products = list(data.product_id.unique())
unique_users = list(data.user_id.unique())
unique_category = list(data.category_id.unique())

print('num of users:', n_users)
print('num of products:', n_products)
print('num of categories:', n_category)

num of users: 10000
num of products: 52229
num of categories: 593

In [62]:
type(unique_products[0])

numpy.int32

In [63]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)

In [64]:
print(train.shape)
print(test.shape)

(221408, 9)
(55352, 9)

In [65]:
train.head()

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
217028,515810827,23000034,4bda7ab6-9dd7-4a1e-b7e1-e36de2d041ea,2019-10-13 14:43:00+00:00,0,7,323.0,2053013553459233053,6.690000
59321,516092277,1005156,3c49a3aa-b650-46b9-9d69-07c92991d3d0,2019-10-18 14:59:29+00:00,0,22,804.0,2053013555631882655,325.455394
156833,515016969,11100221,688bd22a-1539-4fd9-8af4-6a03c3e2a786,2019-10-06 20:19:31+00:00,0,20,698.0,2053013555036291451,20.035000
77944,539456237,1701406,e496de7d-7fa3-4d85-bcbe-97f2d2916451,2019-10-17 16:54:06+00:00,0,11,460.0,2053013553031414015,281.271429
244984,518518709,28712565,a3badfa4-2d35-435b-84db-217944961c69,2019-10-24 16:55:44+00:00,0,8,341.0,2053013565782098913,102.710000

In [66]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221408 entries, 217028 to 177286
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        221408 non-null  int32
 1   product_id     221408 non-null  int32
 2   session_id     221408 non-null  object
 3   purchase_date  221408 non-null  object
 4   purchased      221408 non-null  int64
 5   page_views     221408 non-null  int64
 6   session_time   221408 non-null  float64
 7   category_id    221408 non-null  int64
 8   price          221408 non-null  float64
dtypes: float64(2), int32(2), int64(3), object(2)
memory usage: 15.2+ MB

### WandB Setup

In [67]:
# !pip install wandb

In [68]:
!wandb login

wandb: Currently logged in as: manfredmichael (nodeflux-internship). Use `wandb login --relogin` to force relogin

### Model Building

In [184]:
import wandb
import random
from wandb.keras import WandbMetricsLogger, WandbModelCheckpoint

from tensorflow.keras.optimizers import Adam

wandb.init(
    # set the wandb project where this run will be logged
    project="skilvul-tech-assessment",

    # track hyperparameters and run metadata with wandb.config
    config={
        "desc": "with session context + category embedding",
        "embedding": 32,
        "dropout": 0.5,
        "num_of_deep_layers": 8,
    }
)

config = wandb.config

In [191]:
from tensorflow.keras.models import Model, Sequential 
from tensorflow.keras.layers import Input, Embedding, Dot, Flatten, Dense, concatenate, Dropout
from tensorflow.keras.activations import sigmoid

EMBEDDING_DIM = config.embedding

# WIDE MODEL
wide_model = Sequential([Dense(EMBEDDING_DIM * 3, use_bias='false'),
                         Dropout(config.dropout)])

# DEEP MODEL
deep_layers = []
for i in range(config.num_of_deep_layers):
    deep_layers += [Dense(EMBEDDING_DIM, activation='relu', use_bias='false'), Dropout(config.dropout)]
              
deep_model = Sequential(deep_layers)

# input layers
product_input = Input(shape=[1], name='product_id')
user_input = Input(shape=[1], name='user_id')

page_views_input = Input(shape=[1], name='page_views')
session_time_input = Input(shape=[1], name='session_time')

price_input = Input(shape=[1], name='price')

category_input = Input(shape=[1], name='category_id')
category_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_category, num_oov_indices=1, mask_token=None)(category_input)
category_embedding = Embedding(n_products+1, EMBEDDING_DIM)(category_input_int)

session_context = concatenate([price_input, page_views_input, session_time_input])
session_context = tf.keras.layers.BatchNormalization()(session_context)

product_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_products, num_oov_indices=1, mask_token=None)(product_input)
user_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_users, num_oov_indices=1, mask_token=None)(user_input)

# # Convert strings to integers
# product_input_int = product_lookup(product_input)
# user_input_int = user_lookup(user_input)

# embedding layers 
product_embedding = Embedding(n_products+1, EMBEDDING_DIM)(product_input_int)
user_embedding = Embedding(n_users+1, EMBEDDING_DIM)(user_input_int)

# flatten the embeddings
product_flat = Flatten()(product_embedding)
user_flat = Flatten()(user_embedding)
category_embedding = Flatten()(category_embedding)

# wide and deep model
concat = concatenate([product_flat, user_flat, category_embedding])
wide_output = wide_model(concat)
deep_output = deep_model(concat)

# output layer
concat_2 = concatenate([wide_output, deep_output])
all_embedding = Dense(5, activation='relu', use_bias='false')(concat_2)
concat_3 = concatenate([all_embedding, session_context])
output = Dense(1, activation='sigmoid', use_bias='false')(concat_3)
#output = sigmoid(Dot(1)([wide_output, deep_output]))

# the model
model = Model([product_input, user_input, page_views_input, session_time_input, price_input, category_input], [output])

In [193]:
model.summary()

Model: "model_10"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 product_id (InputLayer)     [(None, 1)]                  0         []

 user_id (InputLayer)        [(None, 1)]                  0         []

 category_id (InputLayer)    [(None, 1)]                  0         []

 integer_lookup_28 (Integer  (None, 1)                    0         ['product_id[0][0]']
 Lookup)

 integer_lookup_29 (Integer  (None, 1)                    0         ['user_id[0][0]']
 Lookup)

 integer_lookup_27 (Integer  (None, 1)                    0         ['category_id[0][0]']
 Lookup)

 embedding_28 (Embedding)    (None, 1, 32)                1671360   ['integer_lookup_28[0][0]']

 embedding_29 (Embedding)    (None, 1, 32)                320032    ['integer_lookup_29[0][0]']

 embedding_27 (Embedding)    (None, 1, 32)                1671360   ['integer_lookup_27[0][0]']

 flatten_21 (Flatten)        (None, 32)                   0         ['embedding_28[0][0]']

 flatten_22 (Flatten)        (None, 32)                   0         ['embedding_29[0][0]']

 flatten_23 (Flatten)        (None, 32)                   0         ['embedding_27[0][0]']

 concatenate_30 (Concatenat  (None, 96)                   0         ['flatten_21[0][0]',
 e)                                                                  'flatten_22[0][0]',
                                                                     'flatten_23[0][0]']

 sequential_26 (Sequential)  (None, 96)                   9312      ['concatenate_30[0][0]']

 sequential_27 (Sequential)  (None, 32)                   10496     ['concatenate_30[0][0]']

 price (InputLayer)          [(None, 1)]                  0         []

 page_views (InputLayer)     [(None, 1)]                  0         []

 session_time (InputLayer)   [(None, 1)]                  0         []

 concatenate_31 (Concatenat  (None, 128)                  0         ['sequential_26[0][0]',
 e)                                                                  'sequential_27[0][0]']

 concatenate_29 (Concatenat  (None, 3)                    0         ['price[0][0]',
 e)                                                                  'page_views[0][0]',
                                                                     'session_time[0][0]']

 dense_96 (Dense)            (None, 5)                    645       ['concatenate_31[0][0]']

 batch_normalization_7 (Bat  (None, 3)                    12        ['concatenate_29[0][0]']
 chNormalization)

 concatenate_32 (Concatenat  (None, 8)                    0         ['dense_96[0][0]',
 e)                                                                  'batch_normalization_7[0][0]'
                                                                    ]

 dense_97 (Dense)            (None, 1)                    9         ['concatenate_32[0][0]']

==================================================================================================
Total params: 3683226 (14.05 MB)
Trainable params: 3683220 (14.05 MB)
Non-trainable params: 6 (24.00 Byte)
__________________________________________________________________________________________________

In [194]:
model.compile(optimizer=Adam(lr=1e-2), loss='binary_crossentropy', 
              metrics=['accuracy',  tf.keras.metrics.Precision(), tf.keras.metrics.Recall(), 
                       tf.keras.metrics.AUC(name='AUC')])

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

In [195]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221408 entries, 217028 to 177286
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        221408 non-null  int32
 1   product_id     221408 non-null  int32
 2   session_id     221408 non-null  object
 3   purchase_date  221408 non-null  object
 4   purchased      221408 non-null  int64
 5   page_views     221408 non-null  int64
 6   session_time   221408 non-null  float64
 7   category_id    221408 non-null  int64
 8   price          221408 non-null  float64
dtypes: float64(2), int32(2), int64(3), object(2)
memory usage: 15.2+ MB

In [196]:
train.columns
page_views_input, session_time_input, price_input

(<KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'page_views')>,
 <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'session_time')>,
 <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'price')>)

In [197]:
from tensorflow.keras.callbacks import ModelCheckpoint


checkpoint_callback = ModelCheckpoint(
    filepath='best_weights_{epoch:02d}-{val_AUC:.3f}.hdf5',
    monitor='val_AUC',  # Monitor validation loss
    mode='max',          # Minimize validation loss
    save_best_only=True,  # Save only the best model
    save_weights_only=True,  # Save only the weights (optional)
    verbose=1            # Print logging information
)

In [198]:
history = model.fit(x=[train.product_id, train.user_id, train.page_views, train.session_time, train.price, train.category_id], y=train.purchased,
                    validation_split=0.2,
                    batch_size=8192,
                    epochs=3,
                    callbacks=[
                      WandbMetricsLogger(log_freq='batch'),
                      WandbModelCheckpoint("models-initial"),
                      checkpoint_callback 
                    ])

Epoch 1/3
22/22 [==============================] - ETA: 0s - loss: 0.6275 - accuracy: 0.7657 - precision_11: 0.0243 - recall_11: 0.2004 - AUC: 0.4747INFO:tensorflow:Assets written to: models-initial\assets

INFO:tensorflow:Assets written to: models-initial\assets
wandb: Adding directory to artifact (.\models-initial)... Done. 0.2s

Epoch 1: val_AUC improved from -inf to 0.47565, saving model to best_weights_01-0.476.hdf5
22/22 [==============================] - 60s 3s/step - loss: 0.6275 - accuracy: 0.7657 - precision_11: 0.0243 - recall_11: 0.2004 - AUC: 0.4747 - val_loss: 0.9570 - val_accuracy: 0.5610 - val_precision_11: 0.0232 - val_recall_11: 0.3753 - val_AUC: 0.4757
Epoch 2/3
22/22 [==============================] - ETA: 0s - loss: 0.2582 - accuracy: 0.9528 - precision_11: 0.0218 - recall_11: 0.0179 - AUC: 0.4838INFO:tensorflow:Assets written to: models-initial\assets

INFO:tensorflow:Assets written to: models-initial\assets
wandb: Adding directory to artifact (.\models-initial)... Done. 0.2s

Epoch 2: val_AUC did not improve from 0.47565
22/22 [==============================] - 22s 1s/step - loss: 0.2582 - accuracy: 0.9528 - precision_11: 0.0218 - recall_11: 0.0179 - AUC: 0.4838 - val_loss: 0.1630 - val_accuracy: 0.9661 - val_precision_11: 0.0000e+00 - val_recall_11: 0.0000e+00 - val_AUC: 0.4744
Epoch 3/3
22/22 [==============================] - ETA: 0s - loss: 0.1627 - accuracy: 0.9716 - precision_11: 0.0000e+00 - recall_11: 0.0000e+00 - AUC: 0.5068INFO:tensorflow:Assets written to: models-initial\assets

INFO:tensorflow:Assets written to: models-initial\assets
wandb: Adding directory to artifact (.\models-initial)... Done. 0.3s

Epoch 3: val_AUC improved from 0.47565 to 0.51970, saving model to best_weights_03-0.520.hdf5
22/22 [==============================] - 23s 1s/step - loss: 0.1627 - accuracy: 0.9716 - precision_11: 0.0000e+00 - recall_11: 0.0000e+00 - AUC: 0.5068 - val_loss: 0.1781 - val_accuracy: 0.9642 - val_precision_11: 0.0074 - val_recall_11: 0.0025 - val_AUC: 0.5197

In [199]:

model.evaluate(x=[test.product_id, test.user_id, test.page_views, test.session_time, test.price, test.category_id], 
               y=test.purchased, batch_size=8192)

7/7 [==============================] - 1s 113ms/step - loss: 0.1772 - accuracy: 0.9659 - precision_11: 0.0000e+00 - recall_11: 0.0000e+00 - AUC: 0.5211

[0.17721551656723022, 0.9658548831939697, 0.0, 0.0, 0.5211415886878967]

In [201]:
product_details.product_id

0         1000978
1         1001588
2         1002042
3         1002062
4         1002098
           ...
52225    60400001
52226    60400002
52227    60500001
52228    60500002
52229    60500007
Name: product_id, Length: 52230, dtype: int64

In [202]:
train

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
217028,515810827,23000034,4bda7ab6-9dd7-4a1e-b7e1-e36de2d041ea,2019-10-13 14:43:00+00:00,0,7,323.0,2053013553459233053,6.690000
59321,516092277,1005156,3c49a3aa-b650-46b9-9d69-07c92991d3d0,2019-10-18 14:59:29+00:00,0,22,804.0,2053013555631882655,325.455394
156833,515016969,11100221,688bd22a-1539-4fd9-8af4-6a03c3e2a786,2019-10-06 20:19:31+00:00,0,20,698.0,2053013555036291451,20.035000
77944,539456237,1701406,e496de7d-7fa3-4d85-bcbe-97f2d2916451,2019-10-17 16:54:06+00:00,0,11,460.0,2053013553031414015,281.271429
244984,518518709,28712565,a3badfa4-2d35-435b-84db-217944961c69,2019-10-24 16:55:44+00:00,0,8,341.0,2053013565782098913,102.710000
...,...,...,...,...,...,...,...,...,...
71501,518469300,1307076,d7f3c8bf-6d27-49f5-b93a-6205a8c4bc0b,2019-10-16 09:34:04+00:00,0,8,201.0,2053013558920217191,710.699871
267733,548754644,42600053,943b9486-8a9d-4fa1-9010-adc9d44ada9e,2019-10-10 20:32:24+00:00,0,21,874.0,2096280601366626625,1004.880000
71446,523983340,1307076,78d0a853-2ab5-4614-be29-3ec418c27134,2019-10-14 05:10:03+00:00,0,6,151.0,2053013558920217191,710.699871
128634,516338900,5700848,561647ac-3ca5-4104-bb36-8466e0c41124,2019-10-07 03:45:05+00:00,0,14,516.0,2053013553970938175,154.190000
177286,513890391,13100745,c1bef35a-a521-4cb1-89e8-b8fe0085c86d,2019-10-28 07:48:41+00:00,0,8,255.0,2053013553526341921,177.100000

In [203]:
product_details

       product_id          category_id       price
0         1000978  2053013555631882655  307.192000
1         1001588  2053013555631882655  128.090000
2         1002042  2053013555631882655   77.140000
3         1002062  2053013555631882655  101.880625
4         1002098  2053013555631882655  376.433208
...           ...                  ...         ...
52225    60400001  2162513070000177858  487.500000
52226    60400002  2162513070000177858  358.540000
52227    60500001  2162513070503494350   25.200000
52228    60500002  2162513070503494350   42.190000
52229    60500007  2162513070503494350    0.000000

[52230 rows x 3 columns]

In [205]:
model.predict(x=[test.product_id, test.user_id, test.page_views, test.session_time, test.price, test.category_id], batch_size=8192)

7/7 [==============================] - 1s 86ms/step

array([[0.05101308],
       [0.08084806],
       [0.04203923],
       ...,
       [0.05973515],
       [0.048063  ],
       [0.08420222]], dtype=float32)

In [206]:
test.product_id

50211      1005100
136245     6301336
264194    38900048
243926    28704302
138457     6600904
            ...
79349      1801689
82824      1801995
39418      1004870
38233      1004863
223943    26202770
Name: product_id, Length: 55352, dtype: int32

In [207]:
def get_recommendation(user_id, page_views, session_time, price, category_id, products=product_details, model=model):
    products = products.copy()
    user_ids = [user_id] * len(products)
    page_views = [page_views] * len(products)
    session_time = [session_time] * len(products)
    price = [price] * len(products)
    category_id = [category_id] * len(products)

    input_ = pd.DataFrame({'product_id': list(products.product_id.unique()), 
                           'user_id': user_ids,
                           'page_views': page_views,
                           'session_time': session_time,
                           'price': price,
                           'category_id': category_id})
    
    results = model.predict([input_['product_id'], 
                     input_['user_id'],
                     input_['page_views'],
                     input_['session_time'],
                     input_['price'],
                     input_['category_id']
                    ], batch_size=8192).reshape(-1)
    # results = model([products, user_ids]).numpy().reshape(-1)
    
    products['purchase_proba'] = pd.Series(results, index=products.index)
    products = products.sort_values('purchase_proba', ascending=False)
    
    return products

In [208]:
train.sample(10)

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
24544,516119953,1004739,b7fb49b5-05ef-c607-b2ad-273475e3d6c3,2019-10-19 14:37:32+00:00,0,9,206.0,2053013555631882655,193.329521
194474,512448158,16600163,8073fd3c-65bd-4bf5-9d97-5c92ae5c131f,2019-10-19 17:57:24+00:00,0,4,98.0,2053013560287560373,387.140000
276147,523087752,54900011,da4d414f-6c8d-4cf4-8003-2aa84e8b54c6,2019-10-22 11:04:41+00:00,0,1,0.0,2146660887203676486,64.350000
101322,544300697,3700766,be13e17b-2e11-4cf8-a726-76a0054cba9b,2019-10-01 03:20:29+00:00,0,7,267.0,2053013565983425517,132.161538
195565,513596029,16900034,2326340d-3592-4925-8f35-bdcfd7d50162,2019-10-16 01:59:56+00:00,0,3,66.0,2053013558433677895,111.970000
110692,513207872,4700390,e12ae3cb-c598-49f6-8b53-5519d95e882e,2019-10-26 13:29:56+00:00,0,16,577.0,2053013560899928785,225.417500
149108,518028687,8800741,3f23f144-ede3-46ab-84c3-07e51f53858d,2019-10-03 15:21:38+00:00,0,9,210.0,2053013555573162395,29.713333
84374,545478879,2300294,be28a04a-7950-4619-9a65-5ab3c93f2273,2019-10-11 14:45:02+00:00,0,2,670.0,2053013560530830019,445.700128
261623,551625768,34800270,a8ab2a5b-6daf-4814-98f3-2db57533913e,2019-10-09 13:11:16+00:00,0,5,773.0,2062461754293617058,101.670000
166249,542208580,12701602,44827e5d-8b37-46c5-b97d-0224e10f1e45,2019-10-21 12:54:58+00:00,0,11,439.0,2053013553559896355,39.900000

In [209]:
get_recommendation(535714214, 
                   page_views=7, 
                   session_time=475.0, 
                   price=36.04, 
                   category_id=2053013558190408249).head(10)

7/7 [==============================] - 1s 92ms/step

       product_id          category_id       price  purchase_proba
19762    12703356  2053013553559896355  110.170000        0.083914
8468      4804602  2053013554658804075   39.870000        0.080912
11143     6301731  2053013554834964853  159.190000        0.080521
36894    26204078  2053013563693335403  567.070000        0.080360
27975    17301010  2053013553853497655  102.940000        0.079523
19770    12703376  2053013553559896355   59.200000        0.078138
43259    28716672  2053013565882762215   87.775714        0.078062
43260    28716673  2053013565882762215   77.941957        0.078062
7547      4600471  2053013563944993659  486.470000        0.076886
41301    28300433  2053013566243472379   46.330000        0.075973

In [210]:
get_recommendation(549231856, 
                   page_views=6, 
                   session_time=121.0, 
                   price=527.265630, 
                   category_id=2053013555631882655).head(10)

7/7 [==============================] - 1s 89ms/step

       product_id          category_id       price  purchase_proba
19762    12703356  2053013553559896355  110.170000        0.166835
8468      4804602  2053013554658804075   39.870000        0.161390
11143     6301731  2053013554834964853  159.190000        0.160678
36894    26204078  2053013563693335403  567.070000        0.160384
27975    17301010  2053013553853497655  102.940000        0.158858
19770    12703376  2053013553559896355   59.200000        0.156326
43259    28716672  2053013565882762215   87.775714        0.156186
43260    28716673  2053013565882762215   77.941957        0.156186
7547      4600471  2053013563944993659  486.470000        0.154030
41301    28300433  2053013566243472379   46.330000        0.152353

In [182]:
train.sample(5)

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
37091,507412213,1004856,b64cd773-6cc1-9009-6e40-04e4f7618734,2019-10-01 10:14:18+00:00,0,32,6959.0,2053013555631882655,131.142246
63534,514279869,1005203,01e2f019-43eb-4fe8-9d1f-d93a66440dd4,2019-10-21 16:30:16+00:00,0,12,450.0,2053013555631882655,116.211745
821,549231856,1002524,740c24a1-16ee-4b8c-a556-a5a725e33ca0,2019-10-14 03:37:33+00:00,1,6,121.0,2053013555631882655,527.265630
115271,524601178,4804055,2af9b570-0942-4dcd-8f25-4d84fba82553,2019-10-01 00:09:54+00:00,1,3,203.0,2053013554658804075,190.250067
41281,531129989,1004900,85b81ef8-27db-4f19-ae1d-0608b60a7c93,2019-10-26 08:27:54+00:00,0,19,1246.0,2053013555631882655,154.420000

In [146]:
get_recommendation(513457523).head(10)

TypeError: get_recommendation() missing 4 required positional arguments: 'page_views', 'session_time', 'price', and 'category_id'

# Save and Load Model

In [382]:
model.save_weights('model.h5')

In [383]:

model_load = Model([product_input, user_input], [output])
model_load.load_weights('model.h5')

In [384]:
get_recommendation(541312140, model=model_load).head(10)

       product_id          category_id       price  purchase_proba
4038      2601810  2053013563970159485  155.259458        0.181332
6904      4100346  2053013561218695907  392.809650        0.171076
703       1004863  2053013555631882655  173.004043        0.163775
4750      2800476  2053013563835941749  172.080000        0.157953
378       1004246  2053013555631882655  743.151695        0.151674
563       1004659  2053013555631882655  738.926172        0.143953
20240    12706258  2053013553559896355   60.230000        0.134912
700       1004856  2053013555631882655  131.142246        0.119333
381       1004249  2053013555631882655  739.568116        0.095927
24652    14700050  2053013557133443581  182.665000        0.093026

In [385]:
get_recommendation(550050854, model=model_load).head(10)

       product_id          category_id       price  purchase_proba
6904      4100346  2053013561218695907  392.809650        0.218746
4038      2601810  2053013563970159485  155.259458        0.213689
703       1004863  2053013555631882655  173.004043        0.194762
378       1004246  2053013555631882655  743.151695        0.171427
563       1004659  2053013555631882655  738.926172        0.168789
700       1004856  2053013555631882655  131.142246        0.167703
4750      2800476  2053013563835941749  172.080000        0.167442
20240    12706258  2053013553559896355   60.230000        0.160695
381       1004249  2053013555631882655  739.568116        0.126330
684       1004838  2053013555631882655  174.748446        0.120576

In [386]:
get_recommendation(0, model=model_load)

       product_id          category_id        price  purchase_proba
847       1005074  2053013555631882655  1188.910128        0.174015
916       1005144  2053013555631882655  1720.407530        0.170057
22811    13103656  2053013553526341921   270.280000        0.164640
41300    28300432  2053013566243472379    46.330000        0.131460
19296    12700716  2053013553559896355    40.930000        0.122681
...           ...                  ...          ...             ...
787       1004990  2053013555631882655   253.171459        0.001422
8883      5100551  2053013553341792533   166.080331        0.001417
12705     7005394  2053013560346280633   163.883901        0.001398
757       1004946  2053013555631882655   738.895365        0.001359
842       1005069  2053013555631882655   301.907003        0.001194

[52230 rows x 4 columns]